{% block exo_edit %}

    <div class="exo-container">
        <div class="container-line">
            {#
            <div class="line"><div draggable="true" class="code">{{ ligne.contenu }}</div></div>
            #}
        </div>

        <div class="container-code">
            {#
                <div class="line-answer">
                    <div class="colone"></div>
                    <div class="colone"></div>
                </div>
            #}
        </div>
    </div>

    <script type="text/javascript" src="{{ asset('jquery-3.5.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('fragment_exo.js') }}"></script>
{% endblock %}
