{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('exo.css') }}">
{% endblock %}

{% block body %}

<div class="jumbotron bg-dark text-white">
    <h1 class="display-3">{{ cours.nom }}</h1>
    <p class="lead">{{ cours.description }}</p>
    
    {% if exo is defined %}
    <a href="{{ path('delete_exercice_handling', {'exo_id':exo.id}) }}">
        <button type="button" class="btn btn-primary btn-lg">Supprimer l'exercice</button>
    </a>
    {% endif %}
</div>

{# Modification / Nouveau #}
{% if exo is defined %}
<form action="{{ path('exo_edit_handling') }}" method="POST">
{% else %}
<form action="{{ path('exo_update_handling', {"exo_id" : cours.id}) }}" method="POST">
{% endif %}

    <fieldset>

        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title">
                        <legend>Exercice</legend>
                    </h5>
                </div>

                <div class="modal-body">

                    <div class="form-group row">
                        <label for="nom" class="col-sm-2 col-form-label">Nom de l'exercice</label>
                        <div class="col-sm-10">
                            <input
                                {# Modification / Nouveau #}
                                {% if exo is defined %}
                                value="{{ exo.nom }}"
                                {% endif %}
                                name="nom" type="text" class="form-control-plaintext" id="nom" placeholder="le nom de 'exercice">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description">Description de l'exercice</label>

                        {# Modification / Nouveau #}
                        {% if exo is defined %}
                        <textarea name="description" class="form-control" id="description" rows="5" placeholder="En quoi consiste votre exercice ?"
                            >{{ exo.description }}</textarea>
                        {% else %}
                        <textarea name="description" class="form-control" id="description" rows="5" placeholder="En quoi consiste votre exercice ?"></textarea>
                        {% endif %}

                    </div>
                </div>

                <div class="modal-footer">
                    <button id="sendbtn" type="submit" class="btn btn-primary">
                        {% if exo is defined %}
                            Modifier
                        {% else %}
                            Creer
                        {% endif %}
                    </button>
                </div>
    </fieldset>
</form>

{% include "exo/exo.html.twig" %}
<input id="commandInput" type="text" placeholder="Nouvelle ligne">
<button id="addCommandButton" type="button" class="btn btn-primary">Ajouter la ligne</button>


<input id="coursid" value="{{ cours.id }}" style="display: none;"/>
{% if exo is defined %}
<input id="exoid" value="{{ exo.id }}" style="display: none;"/>
{% endif %}


{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ asset('jquery-3.5.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('exo.js') }}"></script>

    {% if exo is defined %}
    <script>
        var exoid = document.querySelector("#exoid").value;
        // On envoi l'exercice lorsqu'on clique sur le bouton creer
        var btn = document.querySelector("#sendbtn");
        btn.addEventListener("click", (event) => {
            event.preventDefault();
            var sss = getResults();
            console.log(sss)
            $.ajax({
                type : "POST",
                url : "/exo_update_handling",
                data : {
                    exoid : exoid,
                    nom : document.querySelector("#nom").value,
                    description : document.querySelector("#description").value,
                    lignes : sss
                }
            })
            .done((res) => {
                if(res == "fail") {
                    window.alert(res);
                }
                else {
                    document.location.href = res;
                }
            })
        });

        request_lignes(exoid, (lignes) => {
            console.log(lignes);
            for(var i=0; i<lignes.length; i++) {
                addCodeLine(lignes[i]);
                addEmptyAnswerLine(12);
            }
        });

    </script>
    {% else %}
    <script>
        console.log("ppp")
        // On envoi l'exercice lorsqu'on clique sur le bouton creer
        var btn = document.querySelector("#sendbtn");
        btn.addEventListener("click", (event) => {
            event.preventDefault();
            var sss = getResults();
            $.ajax({
                type : "POST",
                url : "/exo_edit_handling",
                data : {
                    coursid : document.querySelector("#coursid").value,
                    nom : document.querySelector("#nom").value,
                    description : document.querySelector("#description").value,
                    lignes : sss
                }
            })
            .done((res) => {
                if(res == "fail") {
                    window.alert(res);
                }
                else {
                    document.location.href = res;
                }
            })
        });
    </script>
    {% endif %}

    <script>

        // On ajoute la commande de contenu "commandInput.value"
        var commandInput = document.querySelector("#commandInput");
        var addCommandButton = document.querySelector("#addCommandButton");
        addCommandButton.addEventListener("click", () => {
            // On ajoute la commande
            var contenu = commandInput.value;
            console.log(contenu);
            if(contenu == "") {
                addCodeLine({contenu : ""});
            }
            else {
                addCodeLine({contenu});
                addEmptyAnswerLine(12);
            }
        });
    </script>
{% endblock %}
