{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron bg-dark text-white">
        <h1 class="display-3">{{ exo.nom }}</h1>
        <p class="lead">{{ exo.cours.nom }} : {{ exo.cours.description }}</p>
        <hr class="my-4">
        <p>{{ exo.description }}</p>

        <a href="{{ path('try_exo', {'exo_id':exo.id}) }}">
            <button type="button" class="btn btn-primary btn-lg">Essayer</button>
        </a>
        
        {# ENSEIGNANT #}
        {% if enseignant is defined %}
        <a href="{{ path('exo_update', {'exo_id':exo.id}) }}">
            <button type="button" class="btn btn-primary btn-lg">Modifer</button>
        </a>
        {% endif %}

    </div>

    {% include "exo/fragment_resultat_exo_list.html.twig" %}
{% endblock %}
