{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('exo.css') }}">
{% endblock %}

{% block body %}
    <div class="jumbotron bg-dark text-white">
        <h1 class="display-3">{{ exo.nom }}</h1>
        <p class="lead">{{ exo.cours.nom }} : {{ exo.cours.description }}</p>
        <hr class="my-4">
        <p>{{ exo.description }}</p>
    </div>

    {% include "exo/exo.html.twig" %}

    <button id="check" type="button" class="btn btn-primary btn-lg btn-block">Check</button>
    <input id="exoid" value="{{ exo.id }}" style="display: none;"/>

{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ asset('jquery-3.5.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('exo.js') }}"></script>
	<script>
        exoid = document.querySelector("#exoid").value;

        request_lignes(exoid, (lignes) => {
            for(var i=0; i<lignes.length; i++) {
                addCodeLine(lignes[i]);
                addEmptyAnswerLine(12);
            }
        });

        var btnCheck = document.querySelector("#check");
        btnCheck.addEventListener("click", () => {

            var sss = getResults();
            $.ajax({
                type : "POST",
                url : "/try_exo_handling",
                data : {
                    exoid : exoid,
                    lignes : sss
                }
            })
            .done((res) => {
                window.alert(res);
            })
        });
    </script>
{% endblock %}
