
{% block exolist %}

<div class="card border-dark mb-3">
<div class="card-header text-white bg-dark blockquote"><h1>Liste d'exercices</h1></div>
<div class="card-body" style="overflow: auto;">

<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">Exercice</th>
			<th scope="col">Cours</th>
			<th scope="col">nbr Essais reussis</th>
			<th scope="col">nbr Essais rates</th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>

		{% for exo in exo_list %}
			<tr class="table-default">
				<th scope="row"><h3>{{ exo.nom }}</h3></th>
				<td>{{ exo.cours.nom }}</td>
				
				{% if user.type == constant("USER_TYPE_ENSEIGNANT", user) %}
				<td>{{ exo.countSuccess() }}</td>
				<td>{{ exo.countFail() }}</td>
				{% else %}
				<td>{{ exo.countSuccessByUser(user) }}</td>
				<td>{{ exo.countFailByUser(user) }}</td>
				{% endif %}

				<td>
				{% if exo.cours in user.getCours() %}
				<a href="{{ path('show_exo', {'exo_id':exo.id}) }}"><button type="button" class="btn btn-danger">Ouvrir</button></a>
				{% else %}
				Pas inscrit au cours
				{% endif %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table> 

</div>
</div>

{% endblock %}