
{% block resultatexolist %}

<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">Etudiant</th>
			<th scope="col">Resultats</th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>

		{% for result in exo.resultats %}

			{% if user.type == constant("USER_TYPE_ENSEIGNANT", user) %}
			
				{% if loop.index is divisible by(2) %}
				<tr class="table-default">
				{% elseif loop.index is divisible by(3) %}
					<tr class="table-info">
				{% else %}
					<tr class="table-primary">
				{% endif %}
						<th scope="row">{{ result.etudiant.nom }}</th>
						<td>
							<div class="progress">
								<div class="progress-bar bg-danger" role="progressbar" style="width: {{ result.resultat }}%" aria-valuenow="{{ result.resultat }}" aria-valuemin="0" aria-valuemax="100">
								</div>
							</div>
						</td>
						<td>{{ result.resultat }}/100</td>
					</tr>
			
			{% else %}
				{% if result.etudiant == user %}
					{% if loop.index is divisible by(2) %}
					<tr class="table-default">
					{% elseif loop.index is divisible by(3) %}
						<tr class="table-info">
					{% else %}
						<tr class="table-primary">
					{% endif %}
							<th scope="row">{{ result.etudiant.nom }}</th>
							<td>
								<div class="progress">
									<div class="progress-bar bg-danger" role="progressbar" style="width: {{ result.resultat }}%" aria-valuenow="{{ result.resultat }}" aria-valuemin="0" aria-valuemax="100">
									</div>
								</div>
							</td>
							<td>{{ result.resultat }}/100</td>
						</tr>
				{% endif %}
			{% endif %}
		{% endfor %}
	</tbody>
</table> 

{% endblock %}