.code {
    border: solid 2px black;
    border-radius: 15px 15px 15px 15px;
}
.colone {
    min-height: 15%;
    min-width: 50%;

    border-left: solid gray 2px;
    border-bottom: solid black;
}
.line {
    min-height: 20%;
    min-width: 100px;
    display: flex;
    border-bottom: solid black;
}

.line-answer {
    min-height: 20%;
    min-width: 100px;
    display: flex;

}

.container-code {
    margin-left: 2%;
}

.exo-container {
    display : flex;
    margin : 5%;
    width: 100%;
}