<!DOCTYPE html>
<html>
    <head>
        <title>Parson</title>
        <link rel="icon" href="{{ asset('icon.jpg') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('main.css') }}">
        {% block css %} {% endblock %}
    </head>
    <body> 
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="position: fixed; top: 0%; width: 100%; z-index: 99;">
            <a class="navbar-brand" href="{{ path("home") }}">
                Parson
            </a>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item 
                    {% if which == 0 %} active {% endif %}">
                        <a class="nav-link" href="{{ path('cours') }}">Mes Cours<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item
                    {% if which == 1 %} active {% endif %}">
                        <a class="nav-link" href="{{ path('exo') }}">Exercices</a>
                    </li>
                    
                    {% if user is defined %}
                        {% if user.type == constant("USER_TYPE_ENSEIGNANT", user)%}
                            <li class="nav-item
                            {% if which == 2 %} active {% endif %}">
                                <a class="nav-link" href="{{ path('results') }}">Resultats</a>
                            </li>
                        {% endif %}
                    {% endif %}
                    
                    <li class="nav-item">
                    </li>
                </ul>
            </div>

            <div class="text-white">
                {% if user is defined %}
                    <a class="nav-link" href="{{ path('compte') }}">{{ user.nom }}
                        {% if user.type == constant("USER_TYPE_ENSEIGNANT", user)%}
                        (Enseignant)
                        {% else %}
                        (Etudiant)
                        {% endif %}
                    </a>
                {% endif %}
            </div>
            {% if user is defined %}
            <a class="nav-link" href="{{ path('disconnect') }}">Deconnection</a>
            {% else %}
            <a class="nav-link" href="{{ path('disconnect') }}">Connection</a>
            {% endif %}
            
            <div>
                <div id="menu" class="btn-group-vertical" style=" display: none; position: absolute; top: 100%; right: 0px;">
                    <a class="nav-link" href="{{ path('cours') }}"><button type="button" class="btn btn-primary">Cours</button></a>
                    <a class="nav-link" href="{{ path('exo') }}"><button type="button" class="btn btn-primary">Exercices</button></a>
                </div>
                <button id="menubutton" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>

        <div style="margin-top: 5%;"></div>

        {% if message is defined and not message == "" %}
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Message</strong> {{ message }}
        </div>
        {% endif %}

        <section id="my-main-section">
            <div>
    	        {% block body %}
    	        {% endblock %}
            </div>
        </section>

        <footer>
            <blockquote class="blockquote">
                <p class="mb-0">Les problemes de Parson sont trop bien</p>
                <footer class="blockquote-footer"><cite title="Source Title"></cite></footer>
            </blockquote>
        </footer>

        <script type="text/javascript" src="{{ asset('main.js') }}"></script>
        {% block script %}

        {% endblock %}
    </body>
</html>
