{% extends 'base.html.twig' %}

{% block body %}

{% if cours is defined %}
<form action="{{ path('update_cours_handling', {'cours_id':cours.id}) }}" method="POST">
{% else %}
<form action="{{ path('edit_cours_handling') }}" method="POST">
{% endif %}

    <fieldset>

        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title">
                        <legend>
                        {% if cours is defined %}
                            Modifier le cours
                        {% else %}
                            Nouveau cours
                        {% endif %}
                        </legend>
                    </h5>
                </div>

                <div class="modal-body">

                    <div class="form-group row">
                        <label for="nom" class="col-sm-2 col-form-label">Nom du cours</label>
                        <div class="col-sm-10">

                            <input 
                                {% if cours is defined %}
                                value="{{ cours.nom }}"
                                {% endif %}
                                name="nom" type="text" class="form-control-plaintext" id="nom" placeholder="le nom du cours">

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description">Description du cours</label>

                        {% if cours is defined %}
                        <textarea 
                            name="description" class="form-control" id="description" rows="5" placeholder="En quoi consiste votre cours ?"
                            >{{ cours.description }}</textarea>
                        {% else %}
                        <textarea 
                            name="description" class="form-control" id="description" rows="5" placeholder="En quoi consiste votre cours ?"></textarea>
                        {% endif %}

                    </div>

                </div>

                <div class="modal-footer">
                    {% if cours is defined %}
                        <button type="submit" class="btn btn-primary">
                            Modifier
                        </button>
                        <a href="{{ path('delete_cours_handling', {'cours_id':cours.id}) }}">
                            <button type="button" class="btn btn-primary">Supprimer le cours</button>
                        </a>
                    {% else %}
                        <button type="submit" class="btn btn-primary">
                            Creer
                        </button>
                    {% endif %}
                </div>
    </fieldset>
</form>

{% endblock %}
