{% extends 'base.html.twig' %}

{% block body %}

{% if user.type == constant("USER_TYPE_ENSEIGNANT", user)%}
<h1>
<a href={{ path("edit_cours") }}><button type="button" class="btn text-white bg-dark"><h3>Creer un cours</h3></button></a>
</h1>
{% endif %}

{% include "cours/fragment_cours_list.html.twig" %}

{% endblock %}
