{% extends 'base.html.twig' %}

{% block body %}

<div  class="jumbotron bg-dark text-white">
	<h1 class="display-3">{{ cours.nom }}</h1>
	<p class="lead">{{ cours.description }}</p>

	{% if user.type == constant("USER_TYPE_ENSEIGNANT", user) %}
		<a href="{{ path('exo_edit', {'cours_id':cours.id}) }}">
			<button type="button" class="btn btn-primary btn-lg">Ajouter un exercice</button>
		</a>

		<a href="{{ path('update_cours', {'cours_id':cours.id}) }}">
			<button type="button" class="btn btn-primary btn-lg">Modifier</button>
		</a>
	{% endif %}

	{% if cours in user.getCours() %}
		<a href="{{ path('desinscription_cours_handling', {'cours_id':cours.id}) }}">
			<button type="button" class="btn btn-primary btn-lg">Se desinscrire</button>
		</a>
	{% else %}
		<a href="{{ path('inscription_cours_handling', {'cours_id':cours.id}) }}">
			<button type="button" class="btn btn-primary btn-lg">S'inscrire</button>
		</a>
	{% endif %}
</div>

<ul class="nav nav-tabs">
	<li class="nav-item">
		<a id="exercices" class="nav-link active bg-dark" data-toggle="tab" href="#exercices">Exercice</a>
	</li>
	<li class="nav-item">
		<a id="etudiants" class="nav-link bg-dark" data-toggle="tab" href="#etudiants">Etudiants</a>
	</li>
</ul>

<div id="coursTab" class="tab-content">
	<div class="tab-pane fade show active" id="exercices">
		{% include "exo/fragment_exo_list.html.twig" %}
	</div>
	<div class="tab-pane fade" id="etudiants">
		{% include "user/fragment_user_list.html.twig" %}
	</div>
</div>

{% endblock %}

{% block script %}
	<script type="text/javascript" src="{{ asset('cours_show.js') }}"></script>
{% endblock %}

