
{% block courslist %}

<div class="card border-dark mb-3">
<div class="card-header text-white bg-dark blockquote"><h1>Liste de cours</h1></div>
<div class="card-body" style="overflow: auto;">

<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">Cours</th>
			<th scope="col">Nombre d'etudiant</th>
			<th scope="col">Nombre d'exercices</th>
			<th scope="col">nbr Essais reussis</th>
			<th scope="col">nbr Essais rates</th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>

		{% for cours in cours_list %}
			<tr class="table-default" >
				<th scope="row"><h3>{{ cours.nom }}</h3></th>
				<td>{{ cours.countEtudiants() }}</td>
				<td>{{ cours.countExercices() }}</td>
				<td>{{ cours.countSuccess() }}</td>
				<td>{{ cours.countFail() }}</td>
				<td><a href="{{ path('show_cours', {'cours_id':cours.id}) }}"><button type="button" class="btn btn-danger">Ouvrir</button></a></td>
			</tr>
		{% endfor %}
	</tbody>
</table> 

</div>
</div>

{% endblock %}