
{% block userlist %}

<div class="card border-dark mb-3">
<div class="card-header text-white bg-dark blockquote"><h1>Liste d'inscrits</h1></div>
<div class="card-body" style="overflow: auto;">

<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">Etudiant</th>
			<th scope="col">nbr Essais reussis</th>
			<th scope="col">nbr Essais rates</th>
		</tr>
	</thead>
	<tbody>

		{% for useri in user_list %}
			<tr class="table-default">
				<th scope="row"><h3>{{ useri.nom }}</h3></th>
				{% if user.type == constant("USER_TYPE_ENSEIGNANT", user) or user == useri %}
				<td>{{ useri.countSuccess() }}</td>
				<td>{{ useri.countFail() }}</td>
				{% endif %}
			</tr>
		{% endfor %}
	</tbody>
</table> 

</div>
</div>

{% endblock %}