{% extends "base.html.twig" %}

{% block body %}

<a href="{{ path('resultsetudiants') }}"><button type="button" class="btn btn-danger">resultats par utilisateur</button></a>

<ul class="list-group">
    {% for cours in cours_list %}
    <li class="list-group-item">
                <ul class="list-group">
                    <p>
                        <h3>{{ cours.nom }}</h3>
                        <h5>{{ cours.countSuccess() }} essaies reussis, {{ cours.countFail() }} essaies rattes</h5>
                        <a href="{{ path('show_cours', {'cours_id':cours.id}) }}"><button type="button" class="btn btn-danger">Ouvrir</button></a>
                    </p>
                    <div class="modal-body">
                        {% for etu in cours.getEtudiants %}
                            <li class="list-group-item">
                                <ul class="list-group">
                                <strong>{{ etu.nom }}</strong>
                                {% for result in etu.resultats %}
                                    {% if result.exercice.cours == cours %}
                                        <li class="list-group-item">
                                            Essaie de l'exercice : {{ result.exercice.nom }}. resultat : {{ result.resultat }}
                                            <a href="{{ path('show_exo', {'exo_id':result.exercice.id}) }}" style="margin: 5%;"><button type="button" class="btn btn-danger">Ouvrir</button></a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </div>
                </ul>
            </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}