{% extends "base.html.twig" %}

{% block body %}

<a href="{{ path('results') }}"><button type="button" class="btn btn-danger">resultats par cours</button></a>

<ul class="list-group">
    {% for iuser in user_list %}
    <li class="list-group-item">
                <ul class="list-group">
                    <p>
                        <h3>{{ iuser.nom }}</h3>
                        <h5>{{ iuser.countSuccess() }} essaies reussis, {{ iuser.countFail() }} essaies rattes</h5>
                    </p>
                    <div class="modal-body">
                        {% for cours in iuser.cours %}
                            <li class="list-group-item">
                                <ul class="list-group">
                                <strong>{{ cours.nom }}</strong>
                                {% for exo in cours.exercices %}
                                    <li class="list-group-item">
                                        Essaie de l'exercice : {{ exo.nom }}. {{ exo.countSuccessByUser(iuser) }} essaies reussis. {{ exo.countFailByUser(iuser) }} essaies rattes
                                        <a href="{{ path('show_exo', {'exo_id':exo.id}) }}" style="margin: 5%;"><button type="button" class="btn btn-danger">Ouvrir</button></a>
                                    </li>
                                {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </div>
                </ul>
            </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}
