{% extends 'base.html.twig' %}

{% block body %}

<form action="{{ path('connection') }}" method="POST">
    <fieldset>
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">
                        <legend>Connection</legend>
                    </h5>
                </div>

                <div class="modal-body">
                    <div class="form-group row">
                        <label for="nom" class="col-sm-2 col-form-label">Nom</label>
                        <div class="col-sm-10">
                            <input name="nom" type="text" class="form-control-plaintext" id="nom" placeholder="Votre nom">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="nom" class="col-sm-2 col-form-label">mot de passe</label>
                        <div class="col-sm-10">
                            <input name="mdp" type="password" class="form-control-plaintext" id="nom" placeholder="Votre mot de passe">
                        </div>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Se connecter</button>
                    <a class="nav-link" href="{{ path('new_user') }}"><div class="btn btn-primary">Creer un compte</div></a>
                </div>

            </div>
        </div>
    </fieldset>
</form>

{% endblock %}