{% extends 'base.html.twig' %}

{% block body %}

<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">Etudiant</th>
			<th scope="col">Nom</th>
			<th scope="col">nbr Essais reussis</th>
			<th scope="col">nbr Essais rates</th>
		</tr>
	</thead>
	<tbody>

		{% for user in user_list %}

			{% if loop.index is divisible by(2) %}
				<tr class="table-default">
			{% elseif loop.index is divisible by(3) %}
				<tr class="table-info">
			{% else %}
				<tr class="table-primary">
			{% endif %}
					<th scope="row">{{ user.nom }}</th>
					<td>{{ user.countSuccess() }}</td>
					<td>{{ user.countFail() }}</td>
				</tr>
		{% endfor %}
	</tbody>
</table> 

{% endblock %}