{% extends 'base.html.twig' %}

{% block body %}

<form action="{{ path('new_user_handling') }}" method="POST">
    <fieldset>

        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">
                        <legend>Nouvel utilisateur</legend>
                    </h5>
                </div>

                <div class="modal-body">

                    <div class="form-group row">
                        <label for="nom" class="col-sm-2 col-form-label">Nom</label>
                        <div class="col-sm-10">
                            <input name="nom" type="text" class="form-control-plaintext" id="nom" placeholder="Votre nom">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="nom" class="col-sm-2 col-form-label">mot de passe</label>
                        <div class="col-sm-10">
                            <input name="mdp" type="password" class="form-control-plaintext" id="nom" placeholder="Votre mot de passe">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio1" name="type" class="custom-control-input" value="1" checked="">
                            <label class="custom-control-label" for="customRadio1">Etudiant</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio2" name="type" class="custom-control-input" value="2">
                            <label class="custom-control-label" for="customRadio2">Enseignant</label>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Creer</button>
                </div>
            </div>
        </div>

    </fieldset>
</form>

{% endblock %}