{% extends "base.html.twig" %}

{% block body %}
    <form action="{{ path('update_user') }}" method="POST">
    <fieldset>

        <div class="modal-dialog" role="document">
            <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">
                    <legend>Information</legend>
                </h5>
            </div>

            <div class="modal-body">

                <div class="form-group row">
                    <div class="col-sm-10">
                        {% if user.type == 1 %}
                            <input value="Etudiant" readonly="" type="text" class="form-control-plaintext" id="nom" placeholder="Votre nom">
                        {% elseif user.type == 2 %}
                            <input value="Enseignant" readonly="" type="text" class="form-control-plaintext" id="nom" placeholder="Votre nom">
                        {% endif %}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="nom" class="col-sm-2 col-form-label">Nom</label>
                    <div class="col-sm-10">
                        <input value="{{ user.nom }}" name="nom" readonly="" type="text" class="form-control-plaintext" id="nom" placeholder="Votre nom">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="nom" class="col-sm-2 col-form-label">mot de passe</label>
                    <div class="col-sm-10">
                        <input value="{{ user.mdp }}" name="mdp" readonly="" type="password" class="form-control-plaintext" id="mdp" placeholder="Votre mot de passe">
                    </div>
                </div>
            </div>


        <div id="buttonDiv" class="modal-footer">
            <button id="submitbtn" type="submit" class="btn btn-primary">Modifer</button>
            <a href="{{ path('delete_user') }}">
                <button type="button" class="btn btn-primary">Supprimer</button>
            </a>
        </div>
    </fieldset>
</form>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        var isEdit = false;

        var button = document.querySelector("#submitbtn");

        button.addEventListener("click", (event) => {
            if(!isEdit) {
                event.preventDefault();
                var inputs = document.querySelectorAll("input");
                inputs.forEach(input => {
                    input.removeAttribute("readonly");
                });
                var buttonAnnuler = button.cloneNode();
                buttonAnnuler.setAttribute("id", "annuler");
                buttonAnnuler.removeAttribute("type");
                buttonAnnuler.textContent = "Annuler";
                buttonAnnuler.addEventListener("click", buttonAnnulerClick);

                var div = document.querySelector("#buttonDiv");
                div.append(buttonAnnuler);
                isEdit = true;
            }
        });

        var buttonAnnulerClick = event => {
            event.preventDefault();
            var inputs = document.querySelectorAll("input");
            inputs.forEach(input => {
                input.setAttribute("readonly", "");
            });
            var buttonAnnuler = document.querySelector("#annuler");
            buttonAnnuler.remove();
            isEdit = false;
        }

    </script>
{% endblock %}
